@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

/****
STYLE GUIDE
0. RESET
1. LAYOUT
    0. MARGINS
    1. LIST
    2. GRID
    3. TEXT
2. NAVBAR
3. SPECIFICS ITEMS
4. MEDIAQUERY
-----------------
*/


/* -------- 0. RESET -------- */


/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* -------- 1. LAYOUT -------- */

body {
    text-align: center;
    font: 1rem/1 'Roboto';
    background: rgb(6, 1, 48);
    max-width: 2200px;
    margin: auto;
}

div.wrapper {
    text-align: left;
    background: white;
    max-width: 2200px;
    margin: auto;
    font-family: 'Titillium Web', serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Raleway', sans-serif;
}

h1,
.h1 {
    font-size: 4rem;
    margin: 10px 0px;
}

h2,
.h2 {
    font-size: 3rem;
    margin: 10px 0px;
}

p {
    font-size: 20px;
    line-height: 25px;
    margin: 10px 0px;
}

section {
    padding: 30px;
}

section.full-container {
    padding: 0px;
}

img {
    max-width: 100%;
    height: auto;
}

.flex {
    display: flex;
}

.flex-middle {
    align-items: center;
}

.flex-center {
    justify-content: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-space-between {
    align-content: space-between;
}

.flex-space-around {
    align-content: space-around;
}


/* ---- 0. MARGINS ---- */

.margin-small {
    margin: 8px;
}

.margin {
    margin: 16px;
}

.margin-large {
    margin: 22px;
}

.margin-remove {
    margin: 0;
}

.margin-small-top {
    margin-top: 8px;
}

.margin-top {
    margin-top: 16px;
}

.margin-large-top {
    margin-top: 22px;
}

.margin-remove-top {
    margin-top: 0;
}

.margin-small-bottom {
    margin-bottom: 8px;
}

.margin-bottom {
    margin-bottom: 16px;
}

.margin-large-bottom {
    margin-bottom: 22px;
}

.margin-remove-bottom {
    margin-top: 0;
}

.margin-small-left {
    margin-left: 8px;
}

.margin-left {
    margin-left: 16px;
}

.margin-large-left {
    margin-left: 22px;
}

.margin-remove-left {
    margin-top: 0;
}

.margin-small-right {
    margin-right: 8px;
}

.margin-right {
    margin-right: 16px;
}

.margin-large-right {
    margin-right: 22px;
}

.margin-remove-right {
    margin-right: 0;
}


/* ---- 1. PADDINGS ---- */

.padding-small {
    padding: 8px;
}

.padding {
    padding: 16px;
}

.padding-large {
    padding: 22px;
}

.padding-remove {
    padding: 0;
}

.padding-small-top {
    padding-top: 8px;
}

.padding-top {
    padding-top: 16px;
}

.padding-large-top {
    padding-top: 22px;
}

.padding-remove-top {
    padding-top: 0;
}

.padding-small-bottom {
    padding-bottom: 8px;
}

.padding-bottom {
    padding-bottom: 16px;
}

.padding-large-bottom {
    padding-bottom: 22px;
}

.padding-remove-bottom {
    padding-top: 0;
}

.padding-small-left {
    padding-left: 8px;
}

.padding-left {
    padding-left: 16px;
}

.padding-large-left {
    padding-left: 22px;
}

.padding-remove-left {
    padding-top: 0;
}

.padding-small-right {
    padding-right: 8px;
}

.padding-right {
    padding-right: 16px;
}

.padding-large-right {
    padding-right: 22px;
}

.padding-remove-right {
    padding-right: 0;
}


/* ---- 2. LIST ---- */

.list li {
    margin-top: 10px;
    list-style-type: none;
}

.list-inline {
    padding-left: 0;
}

.list-inline li {
    display: inline;
}


/* ---- 3. GRID ---- */

.grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
}

.grid>* {
    padding: 30px;
    vertical-align: middle;
    align-content: center;
}


/* ---- 4. TEXT ---- */

.text-center {
    text-align: center;
}

.text-first {
    color: #AD7CE0;
}

.text-second {
    color: #A17D00;
}

.text-third {
    color: #FFEF00;
}

.text-forth {
    color: #FFC600;
}

.text-fifth {
    color: #36006D;
}

.text-white {
    color: #fff;
}

.text-black {
    color: #000;
}


/* ---- 5. PANEL BOX ---- */

.panel-box {
    background-color: #111;
    color: #fff;
    padding: 30px;
    text-shadow: 1px 1px 2px #222
}

.panel-box-first {
    background-color: #777;
}

.panel-box-second {
    background-color: #36006D;
}

.panel-box-third {
    background-color: #8C84E2;
}

.panel-box-forth {
    background-color: #1A0ABC;
}

.panel-box-fifth {
    background-color: #36006D;
}

.panel-box-sixth {
    background-color: #FFC600;
}


/* ---- 6. BACKGROUNDS ---- */

.first-background {
    background-color: #0A0070;
    color: #fff;
}

.second-background {
    background-color: #111;
    color: #fff;
}

.overlay-background {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-shadow: 1px 1px 2px #111;
}


/* -------- 2. NAVBAR -------- */

nav {
    overflow: hidden;
    background: #000;
    width: 100%
}

ul.navbar,
ul.navbar-content {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.navbar li {
    float: left;
}

.navbar li a {
    padding: 15px 15px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    height: 40px;
    display: flex;
    align-items: center;
}

.navbar li a:hover,
.navbar-content li a:hover {
    background: #ddd;
    color: #222;
}

.navbar-content li {
    float: right;
}

.navbar-content li a {
    text-align: center;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: flex-end;
    padding: 15px 15px;
    text-decoration: none;
    color: #fff;
}


/* -------- 3. SPECIFICS ITEMS -------- */

#header-img {
    background-image: url(../image/pexels-photo.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 400px;
    display: flex;
    align-items: center;
}

#header-text {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#main {
    display: grid;
    grid-template-columns: auto auto auto;
}

#top-a {
    margin-top: 0;
}

#article {
    float: left;
    padding: 30px;
}

#aside {
    float: left;
    padding: 30px;
}

#footer {
    clear: both;
    width: 100%;
}


/* -------- 4. MEDIAQUERY -------- */

@media screen and (max-device-width: 1024px) {
    .navbar-content li a {
        display: none;
    }
}

@media screen and (max-device-width: 780px) {
    h1,
    .h1 {
        font-size: 3rem;
        font-family: 'Raleway', sans-serif;
        margin: 10px 0px;
    }
    h2,
    .h2 {
        font-size: 2rem;
        font-family: 'Raleway', sans-serif;
        margin: 10px 0px;
    }
    .grid {
        display: block;
    }
    .grid>.width-1-2 {
        text-align: left;
        padding: inherit;
    }
    #aside {
        display: none;
    }
}

@media screen and (max-device-width: 480px) {
    h1,
    .h1 {
        font-size: 32px;
        font-family: 'Raleway', sans-serif;
        margin: 10px 0px;
    }
    h2,
    .h2 {
        font-size: 24px;
        font-family: 'Raleway', sans-serif;
        margin: 10px 0px;
    }
}