/* BODY GENERAL */

body {
    max-width: 1900px;
    margin: auto;
    padding: 0px 30px;
}


/* NAVBAR */

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #222;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    padding: 15px 16px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.navbar li a:hover {
    background: #ddd;
    color: #222;
}


/*GENERAL*/

.margin-top-small {
    margin-top: 8px;
}

.list li {
    margin-top: 10px;
    list-style-type: none;
}

.list-inline {
    padding-left: 0;
}

.list-inline li {
    display: inline;
}

#main {
    display: grid;
    grid-template-columns: auto auto auto;
}

#article {
    float: left;
    padding: 30px;
}

#aside {
    float: left;
    padding: 30px;
}

#footer {
    clear: both;
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid>.width-1-2 {
    padding: 30px;
    vertical-align: middle;
    align-content: center;
}

.text-center {
    text-align: center;
}

.text-middle {
    vertical-align: middle;
}

#header-img {
    background-image: url(../image/pexels-photo.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 400px;
    display: flex;
    align-items: center;
}

#header-text {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    width: 100%;
    align-content: center;
}